{% extends "login/base.html" %} {% load static %} {% block title %}
<title>Australian Consumer Law</title>
{% endblock %} {% block content %}
<div class="bg-white rounded-md">
    <div class="flex flex-col p-10  mx-auto">
        <h2 class="p-5 bg-[#4B0082] text-center text-3xl leading-9 font-extrabold text-[#FFFFFF] w-full">
            Responsible sourcing of products
        </h2>
        <div class="flex flex-col p-2 w-3/4 mx-auto">

            <p class="text-[#3F3F3F]">
                Under the Australian Consumer Law (ACL), suppliers are responsible for selling consumer products that are safe and fit for purpose.
            </p>

            <!-- <div class="flex justify-between">
                
                <p class="text-[#E6E6FA] underline decoration-dotted pt-9 ">
                    <a href="#"> More details: Mandatory standards </a>
                </p>

            </div> -->
            <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-64">
                Sourcing products
            </p>

            <div>
                <div >
                    <div>If you supply consumer products in Australia at any stage in the supply chain, you are legally responsible for product safety. As well as products that are subject to a mandatory safety standard or ban, you are also responsible for products that may not be subject to mandatory safety requirements. In fact, non-regulated products are often the cause of injury. 
                        </div> 
                        <br>
                        <div> When sourcing products, always check: </div>
                   
                    <ol class="ml-10 list-disc mb-5" style="list-style: none;">
                        <li>
                           - the factory from which your products are sourced has been audited regularly to ensure that proper controls are in place
                        </li>
                        <li>
                            - raw materials have been tested  
                        </li>
                        <li>assembly line processes are followed and quality checks are performed</li>
                        <li>
                            - pre-shipment inspections are carried out with adequate supervision by qualified staff appointed by the retailer
                        <li>
                            - staff training is current and adequate
                        </li>
                        
                    </ol>
                </div>

            </div>

            <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-64">
                Testing products
            </p>
            <div class="text-[#3F3F3F]">
                <p class="text-[#3F3F3F]">
                    When products are designed and developed for supply to consumers, it is generally not enough to have a pre-production sample of the products safety tested and no further quality assurance or control measures applied.
                </p>
                <br>
                <p>
                    As a supplier, you should: 
                </p>
                <ol class="ml-10 list-disc mb-5">
                    <li>
                        request test reports from a manufacturer, wholesaler or agent to an applicable safety standard whenever you purchase products domestically or from overseas
                    </li>

                    <li>
                        commission your own tests (where possible) to be performed by a suitably accredited laboratory - most products can be tested to an Australian standard, some of which are cited in Australian safety regulations.
                    </li>
                    <!-- <li>
                        commission reliable, independent and preferably accredited laboratories to test products and
                        issue
                        you with test reports
                    </li>
                    <li>
                        ask your suppliers for written evidence of safety compliance through third-party product
                        certification or product testing,
                        including copies of test reports, preferably from accredited test bodies or laboratories.
                    </li> -->
                </ol>
                <p>
                    To meet the technical performance specifications in any standard, you may choose to arrange testing
                    by
                    independent,
                    specialist testing bodies or laboratories
                </p>
            </div>
            <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-64">
                Pre-shipment inspections
            </p>
            <p>
                To ensure the consumer products you purchase for supply are safe and of good quality:
            </p>
            <ol class="ml-10 list-disc mb-5" style="list-style: none;">
                <li>
                    - request a pre-shipment inspection to be performed at the factory before the products are released for shipment 
                </li>

                <li>
                    - choose a pre-shipment inspection service provider that offers a reliable service that is also cost-effective
                </li>
                <li>
                    - check that your pre-shipment inspector is trained to carry out tests and measurements for your product
                </li>
                <li>
                - confirm with the service provider that their inspections are carried out in accordance with well-established international standards
                </li>
                <li> 
                    - make sure you understand the information in the inspection report and clarify anything that seems unclear

                </li>
                <li>
                    - consider developing a customised inspection protocol that itemises particular points of quality concern or safety for the products you are purchasing 
                </li>
                <li>
                   - confirm any issues raised during the inspection are addressed prior to shipment.
                </li>
            </ol>

            <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-80">
                Other compliance measures
            </p>
            <div class="text-[#3F3F3F]">
                <p>
                    There are a number of other measures you can take to ensure products you purchase for supply are safe, compliant and of acceptable quality.
                </p>
                <br>
                <p>
                    These include: 
                <ol class="ml-10 list-disc mb-5">
                    <li>
                        developing documented quality assurance (QA) and quality control (QC) processes
                    </li>
                    <li>
                        training staff in QA and QC processes, mandatory safety standards and the ACL
                    </li>
                    <li>
                        performing random stock audits in distribution centres or stores
                    </li>
                    <li>
                        commissioning factory audits and/or requesting evidence of compliance with ISO 9000 (or equivalent) · engaging the services of professional QA and QC consultants
                    </li>
                    <li>
                        purchasing recall insurance
                    </li>
                    <!-- <li>
                        if the accreditation is limited and if so, how
                    </li>
                    <li>
                        what other relevant details apply.
                    </li> -->
                </ol>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>

{% endblock %}