{% extends "login/base.html" %} {% load static %} {% block title %}
<title>Australian Consumer Law</title>
{% endblock %} {% block content %}
<div class="bg-white rounded-md">
    <div class="flex flex-col p-10  mx-auto">
        <h2 class="p-5 bg-[#4B0082] text-center text-3xl leading-9 font-extrabold text-[#FFFFFF] w-full">
           Selling online
        </h2>
        <div class="flex flex-col p-2 w-3/4 mx-auto">
            <p class="text-[#3F3F3F] my-3">
                When you sell products to Australia, you must comply with Australian product safety laws - no matter where you are located in the world.
            </p>
            <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-80">
                Product safety laws for online sellers
            </p>
            <div class=" p-1 rounded-xl">
                Australian product safety laws apply whether you sell through an online marketplace or not, and at every stage of the supply chain. These laws mean that your business:     
                <ol class="ml-10 list-disc mb-5" style="list-style: none;">
                    <li>
                        - must comply with Australian mandatory safety standards
                    </li>
                    <li>
                        - must not supply banned products
                    </li>
                    <li>
                       - must report the death or serious injury or illness of a person that occurred as a result of a consumer product you have supplied
                    </li>
                    <li>
                       - should immediately recall a product if you realise it may present a safety hazard, does not comply with a safety standard, or is banned - and notify the Australian Commonwealth Minister responsible 
                    <li>
                        - must comply with any recall notices issued under the Australian Consumer Law.
                    </li>
                    </li>
                    
                    
                </ol>
                <div>Complying with international or other trusted safety standards does not automatically mean your product complies with Australian mandatory safety standards or bans. </div>
                       <br>
                <div>It is your responsibility to understand Australian product safety laws and make sure you sell safe, compliant products.</div>
            </div>
            <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-1/3" style="width: 600px;">
                Guidance for product manufacturers and makers of handmade products
            </p>
            <div class="">
                <div>When you make or manufacture the products you sell online, Australia's product liability laws apply to products with safety defects. This is in addition to your legal responsibilities as a supplier.</div>
                <br>
            <div>Product liability laws mean that Australian consumers can seek compensation from you if a product you made has caused loss or damage, including injuries, death and economic loss. Australian consumers who suffer loss or damage because of safety defects in the product you made can take you to court. They can also make a complaint to a consumer protection agency, who may then consider taking action against you.</div>
                <div class="flex flex-col p-2 w-7/8 mx-auto">
                    <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-80">
                        Guidance for online selling platforms
                    </p>
                    <div>If you operate an online selling platform, it will help to keep consumers' trust in your brand and business if you host listings with safe products.</div>
                    <br>

                    <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-80" style="width: 420px;">
                        How to comply with Australian product safety laws
                    </p>
                    <div>Follow these tips to help make sure you're complying with Australian product safety laws and practices for selling safe consumer products online. </div>
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        
                        <p class="my-1 m-0  p-2 ">
                            Check the list of mandatory safety standards to see if your product needs to comply. 
                        </p>
                    </div>
                    <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">
                        
                    </p>
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        <p class="my-1 m-0  p-2 ">
                            Check whether the product is subject to a product safety ban
                        </p>
                    </div>
                    <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">
                        
                    </p>
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        <p class="my-1 m-0  p-2 ">
                            If any products don't comply with Australian product safety regulations, block them from being sold in Australia.
                        </p>
                    </div>
                    <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">
                    
                    </p>
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        <p class="my-1 m-0  p-2 ">
                            Source your products from manufacturers and suppliers who comply with Australian product safety regulations.
                        </p>
                    </div>
                    <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">
                       
                    </p>
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        <p class="my-1 m-0  p-2 ">
                            Share product safety information with consumers and make it available in appropriate languages. Include information like warnings, labels, age-grading on children's products, product descriptions, good quality product images, and ingredients lists, especially for cosmetics and toiletries. 
                        </p>
                    </div>
                    <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">
                       
                    </p>
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        <p class="my-1 m-0  p-2 ">
                            Be responsive to consumers and authorities - make sure you clearly list your contact details in case of safety problems.
                        </p>
                    </div>
                    <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">
                       
                    </p>
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        <p class="my-1 m-0  p-2 ">
                            Communicate product safety concerns with any affected customers.
                        </p>
                    </div>
                    <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">
                      
                    </p>
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        <p class="my-1 m-0  p-2 ">
                            Notify the ERECALL if you need to conduct a recall and be sure to comply with mandatory reporting guidelines to avoid penalties.
                        </p>
                    </div>
                    <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">
                        
                    </p>
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        <p class="my-1 m-0  p-2 ">
                            Check with the Australian Department of Home Affairs to understand what goods are prohibited or restricted from being imported into Australia.
                        </p>
                    </div>

                    
                    <!-- <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        <p class="my-1 m-0  p-2 ">
                           
                        </p> -->
                    <!-- </div> -->
                    <!-- <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">
                        
                    </p> -->
                    <br>
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl" >
                        <p class="my-1 m-0  p-2 " >
                            Read our factsheets for online suppliers. If you work with others, share them with your team. 
                        </p>
                    </div>
                    <div class="flex justify-between">
                        <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">
                            
                        </p>
                        <p class="text-[#E6E6FA] underline decoration-dotted pt-9 pr-8 ">
                            <a href="#"> More details: Mandatory standards </a>
                        </p>
                    </div>
                    <p class="my-5 pl-5 text-xl rounded-xl font-bold text-left">

                      What happens if you don't comply?
                     
                    
                    </p>
                    
                    <div class="my-1 m-5 bg-[#E6E6FA] p-3 rounded-xl">
                        
                        <p class="my-1 m-0  p-2 ">
                            Complying with Australian product safety requirements isn't just good business sense - it's the law. If you fail to comply with product bans, mandatory standards or mandatory reporting requirements you may face enforcement action that attracts fines and pecuniary penalties under the Australian Consumer Law. Unsafe products can cause serious injuries to consumers, and in the worst cases lead to death. Children can be particularly vulnerable, as they are usually unable to notice hazards. This is why most mandatory standards and bans aim to protect babies and children. When safety issues arise, they can have a major impact on consumers and businesses.
                        </p>
                    </div>



                    <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-80" style="background-color: rgb(191, 230, 251); color: rgba(0, 0, 255, 0.353); width: 250px;">
                        Impact on your business
                    </p>
                    <div class=" p-1 rounded-xl">
                        The impact on your business can be costly and result in:
                        <ol class="ml-10 list-disc mb-5" style="list-style: none;">
                            <li>
                                exposure to legal liability
                            </li>
                            <li>
                                costs of repairs, replacements, or refunding consumers
                            </li>
                            <li>
                                costs associated with product redesign
                            </li>
                            <li>
                                a loss of business and reputation.
                                
                            </li>
                        
                        </ol>
                </div>

                <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-80" style="background-color: rgb(191, 230, 251); color: rgba(0, 0, 255, 0.353); width: 250px;">
                  Impact on the community
                </p>

                <div class=" p-1 rounded-xl">
                    Most businesses ensure their products comply with Australian safety laws. But those who supply unsafe or defective products can cause negative flow-on impacts for consumers and the broader community, including:
                    <ol class="ml-10 list-disc mb-5" style="list-style: none;">
                        <li>
                            physical and psychological injury 
                        </li>
                        <li>
                            financial burden, including income lost due to incapacity for work
                        </li>
                        <li>
                            costs of medical treatment. 
                        </li>
                       
                    </ol>
                    <div>
                        (Productivity Commission, Review of Australia's Consumer Policy Framework-Productivity Commission Inquiry Report, Volume 2, 30 April 2008, p. 172.) 
                    </div>
                    <br>
                    <div>
                        These poor safety experiences can also have broader impacts on industry and the economy, resulting in loss of consumer confidence
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>

{% endblock %}