{% extends "login/base.html" %} {% load static %} {% block title %}
<title>Australian Consumer Law</title>
{% endblock %} {% block content %}
<div class="bg-white rounded-md">
    <div class="flex flex-col p-10  mx-auto">
        <h2 class="p-5 bg-[#4B0082] text-center text-3xl leading-9 font-extrabold text-[#FFFFFF] w-full">
            Product Testing
        </h2>
        <div class="flex flex-col p-2 w-3/4 mx-auto">

            <p class="text-[#3F3F3F]">
                Product testing helps suppliers ensure that the products they supply in the
                Australian market meet mandatory safety standards and are able to meet any claims made about them.
            </p>

            <div class="flex justify-between">
                <p class="my-5  text-3xl rounded-xl font-bold">
                    Why products tested?
                </p>
                <p class="text-[#E6E6FA] underline decoration-dotted pt-9 ">
                    <a href="#"> More details: Mandatory standards </a>
                </p>

            </div>

            <div>
                <div class="my-1 bg-[#E6E6FA] p-3 rounded-xl">
                    Product testing is one way of preventing unsafe products from entering the Australian market, and
                    ensuring
                    supplier responnsibilities are met. <br> <br>
                    It is the responsibility of the supplier to ensure the products they supply:
                    <ol class="ml-10 list-disc mb-5">
                        <li>
                            are not banned
                        </li>
                        <li>
                            are free from defects
                        </li>
                        <li>
                            meet mandatory safty standards
                        </li>
                        <li>
                            meet any claims made about them
                        </li>
                    </ol>
                </div>

            </div>

            <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-64">
                Testing options
            </p>
            <div class="text-[#3F3F3F]">
                <p class="text-[#3F3F3F]">
                    To ensure your products comply with safety laws:
                </p>
                <ol class="ml-10 list-disc mb-5">
                    <li>
                        conduct your own testing, using suitable in-house expertise and facilities
                    </li>

                    <li>
                        commission a certification agency to assess products and provide written certification of
                        compliance
                        with safety standards.
                        This enables you to use certification labelling on relevant products
                    </li>
                    <li>
                        commission reliable, independent and preferably accredited laboratories to test products and
                        issue
                        you with test reports
                    </li>
                    <li>
                        ask your suppliers for written evidence of safety compliance through third-party product
                        certification or product testing,
                        including copies of test reports, preferably from accredited test bodies or laboratories.
                    </li>
                </ol>
                <p>
                    To meet the technical performance specifications in any standard, you may choose to arrange testing
                    by
                    independent,
                    specialist testing bodies or laboratories
                </p>
            </div>
            <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-64">
                Testing options
            </p>
            <div class="text-[#3F3F3F]">
                <p>
                    When commissioning product testing, it may be preferable to use an accredited laboratory.
                    Accredited laboratories are subject to regular and vigorous assessment by an independent agency,
                    and in the event of a court case, reports from these laboratories may carry more credibility.
                </p>
                <p>
                    The National Association of Testing Authorities and its international counterparts provide strict
                    independent assessments of, and accreditation for, competence in testing against specific safety
                    standards.
                </p>
                <p>
                    It is not compulsory for test laboratories to carry accreditation.
                </p>
            </div>

            <p class="my-5 bg-[#EDE7F6] p-2 rounded-xl text-[#512DA8] text-center font-bold w-80">
                Checking laboratory accreditation
            </p>
            <div class="text-[#3F3F3F]">
                <p>
                    If a laboratory is accredited to test for one standard, or part of a standard,
                    it does not necessarily mean they are accredited to test for the whole standard, or a different
                    standard.
                </p>
                <p>
                    It is vital to check for accreditation for the particular testing required, including all relevant
                    parts
                    of a
                    standard.
                </p>
                <p>
                    When checking a test laboratory’s accreditation, remember to ask:
                <ol class="ml-10 list-disc mb-5">
                    <li>
                        what the accreditation covers
                    </li>
                    <li>
                        what specific standards or parts of standards the laboratory is accredited to test for
                    </li>
                    <li>
                        if the accreditation relates directly to the required testing
                    </li>
                    <li>
                        for the accreditation reference number
                    </li>
                    <li>
                        if the accreditation is current
                    </li>
                    <li>
                        if the accreditation is limited and if so, how
                    </li>
                    <li>
                        what other relevant details apply.
                    </li>
                </ol>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}