{% extends "login/base.html" %}
{% load static %}

{% block title %}
<title>guidance</title>
{% endblock %}

{% block content %}
<div class="rounded-md">
  <div class="flex flex-col p-10 mx-auto">
    <h1 class="bg-[#4B0082] p-10 text-center text-5xl leading-9 font-extrabold text-[#FFFFFF]">Guidance for customers and suppliers</h1>
    </br>
    <h2 class="ml-20 mr-20 text-3xl  font-extrabold text-left text-[#000000]">General information</h2>
    </br>
    <h3 class="ml-20 mr-20 text-2xl  text-left text-[#000000]">
    A product recall is when a manufacturer takes back a product that has already been delivered to a wholesaler, retailer or end user.
    The typical cause of a product recall is when the product sold is found to be defective.
    </br>
    </br>
    The recall is an attempt to limit damage to the company's image and limit liability for corporate negligence, which leads to huge legal costs.
    </br>
    It is difficult, if not impossible, to determine the price to be paid for releasing a product to consumers that may endanger someone's life and cause financial loss due to unnecessary publicity. Memories are expensive. Costs include having to dispose of the recalled product, replace it, and possible financial liability for the consequences of the recalled product.
    </h3></br></br>
    <p class="ml-20 mr-20 border border-primary text-4xl ml-20 mt-7 w-2/5 font-extrabold text-[#000000]">
    <h4 class="bg-[#EDE7F6] rounded-[60px] text-[#7E57C2] ml-20 mr-20 text-3xl font-extrabold text-left text-[#483D8B]">On this page</h4></br>
    </br>
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]">What is a recall?</h4></br>
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]">What is the difference between voluntary and compulsory recalls?</h4></br>
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]">Who is responsible for taking voluntary recall action?</h4></br>
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]">What is the process for a recall?</h4></br>
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]">The Department’s role</h4></br>
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]">How does the Australian Consumer Law fit in?</h4>
    </br>
    </p>
    <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]">
    </br>What is a recall?

    </h5>
    </br>
    <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl">
      <p class="m-5">
      All road vehicles and approved road vehicle components supplied to the Australian market must comply with standards under the RVS legislation.
      If they do not comply, or there is an issue with their safety, vehicle and component suppliers should undertake a voluntary recall to either fix
      the issue or remove the item from the market as soon as possible. Recalls can be either voluntary or compulsory depending on their nature.
      </h6></br>
      </p>
    </br>

    </p>
    <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]">
    </br>What is the difference between voluntary and compulsory recalls?

    </h5>
    </br>
    <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl">
      <p class="m-5">
      A voluntary recall is action taken by vehicle and component suppliers to fix a safety or non-compliance issue with a road vehicle or approved component.
      A compulsory recall occurs when the responsible Commonwealth Minister issues a compulsory recall notice to suppliers if it appears that they have not taken satisfactory action to:
      <p class="m-5">
        - prevent injury</p>
      <p class="m-5">
        - rectify non-compliance with applicable standards.</p>
      </h6></br>
      </p>
    </br>

    <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]">
    </br>Who is responsible for taking voluntary recall action?

    </h5>
    </br>
    <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl">
      <p class="m-5">
      You are responsible for undertaking recall action if you supply road vehicles or approved road vehicle components to the Australian market.
      You are considered a supplier if you manufacture, import, distribute, retail, supply or resupply road vehicles or approved road vehicle components to the Australian market by sale, exchange, lease, hire or hire purchase.
      </h6></br>
      </p>
    </br>

       <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]">
    </br>What is the process for a recall?

    </h5>
    </br>
    <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl">
      <p class="m-5">
      "If you determine a vehicle or vehicle component presents a safety issue, a potential safety issue or does not comply with applicable standards, you should commence voluntary recall action as soon as possible to prevent possible injury, or even death, and rectify non-compliance.
      The process for you to follow is similar to what you may be familiar with already. The requirements and suggested inclusions under each step in the process are outlined in our Recalls Policy: Road Vehicles and Approved Road Vehicle Components.opens an external website.
      These steps are a quick summary and are not in a strict order. Some may be completed at the same time, or some may not apply to you. You may use an industry code to guide your notification and recall process if it provides sufficient information, in line with the Recalls Policy.</p>
    <p class="m-5">
      - Notify</br>
      You must notify us, on behalf of the Commonwealth Minster, within 2 days of you taking voluntary recall action if the vehicle or component was supplied in Australia. You must notify those you supplied outside of Australia as soon as practicable and give notice to us, on behalf of the Commonwealth Minster,
      within 10 days after giving the notice. You can do this through our ROVER portalopens an external website. See our full Recalls Policyopens an external website for what information to include in the notice. </p>
    <p class="m-5">
      - Prepare </br>
      You should develop and submit a: </br>
      recall strategy through ROVERopens an external website. The strategy should include an explanation of the issue, how the defect occurred, the number of units in the market, any known injuries and the proposed actions to rectify the issue. This allows us to work with you to ensure the issue is resolved.
      communication strategy outlining how you intend to reach affected owners and operators as quickly and effectively as possible. The strategy and communication approach should be appropriate to the level of risk.
    </p>
       <p class="m-5">
      - Action</br>
       The action chosen is at the discretion of the supplier, as is the remedy.</p>
      <p class="m-5">
      - Report</br>
        You will be required to submit regular progress reports to us throughout the process. The frequency will be agreed based on the level of risk.
        This will help us to determine if there is anything we can do to support the recall."
       </p>
      </h6></br>
      </p>
    </br>

  <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]">
    </br>The Department’s role

    </h5>
    </br>
    <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl">
      <p class="m-5">
        "We are responsible for administering the RVS legislation. In general, our role will be to work with you throughout the recall process and to support you where we can. We will monitor the progress of the recall through to completion.
        All recall notices will be published on the vehicle recalls website. We will use content from your initial notice to us and will ask you to review before we publish. Our notice will clearly outline what action should be taken and who consumers and operators can talk to if they have questions or concerns about the voluntary recall.
        We may also issue suppliers with a disclosure notice where we reasonably believe a person can provide information, documents or evidence about vehicles or components that may cause injury or do not comply with national road vehicle safety standards. There are serious consequences for not complying with a disclosure notice, or for providing false and misleading information in response to one, including significant financial penalties, criminal prosecution and imprisonment."
      </h6></br>
      </p>
    </br>

    <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]">
    </br>How does the Australian Consumer Law fit in?

    </h5>
    </br>
    <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl">
      <p class="m-5">
        The Australian Competition and Consumer Commission is responsible for product safety of consumer goods under the Australian Consumer Law. This includes vehicle-related consumer products, not covered by the RVS Legislation,
        such as: quad bikes, golf carts, personal mobility devices and power-assisted pedal cycles.
      </h6></br>
      </p>
    </br>


  </div>
</div>

{% endblock %}