{% extends "login/base.html" %} {% load static %} {% block title %}
<title>Australian Consumer Law</title>
{% endblock %} {% block content %}
<div class="bg-white rounded-md">
  <div class="flex flex-col p-10 w-3/4 mx-auto">
    <h2
      class="p-5 text-center text-3xl leading-9 font-extrabold text-[#512DA8]"
    >
      Australian Consumer Law
    </h2>
    <p class="text-[#3F3F3F]">
      Product safety in Australia is governed by the Australian Consumer Law
      (ACL). The ACL is contained in a schedule to the Competition and Consumer
      Act 2010 (CCA). Relevant provisions can also be found in state and
      territory fair trading legislation.
    </p>
    <p
      class="my-5 bg-gray-200 p-2 rounded-xl text-[#512DA8] text-center font-bold w-64"
    >
      Product safety provisions
    </p>
    <div class="text-[#3F3F3F]">
      The ACL product safety provisions set out how the Australian Government
      and the state and territory governments can regulate consumer goods and
      product-related services to address safety hazards. These can include:
      <ol class="ml-10 list-disc mb-5">
        <li>
          imposing mandatory safety standards or information standards for
          consumer goods or product-related services
        </li>

        <li>
          banning consumer goods or product-related services, either on an
          interim or permanent basis
        </li>
        <li>
          issuing a compulsory recall notice requiring suppliers to recall
          consumer goods.
        </li>
      </ol>

      The provisions also regulate supplier responsibilities, including:

      <ol class="ml-10 list-disc">
        <li>
          what to do when a voluntary recall is initiated for safety related
          reasons
        </li>

        <li>supplier responsibilities relating to exports of certain goods</li>
        <li>
          when to report an incident associated with a consumer good to the
          Minister
        </li>
        <li>
          when a manufacturer may be liable for loss or damage caused by a
          product with a safety defect.
        </li>
      </ol>
    </div>

    <p
      class="my-5 bg-gray-200 p-2 rounded-xl text-[#512DA8] text-center font-bold w-64"
    >
      Product safety regulations
    </p>
    <p class="text-[#3F3F3F]">
      The safety of consumer products and product-related services is regulated
      through a harmonised, nationally consistent framework.
    </p>
    <div class="mx-10 text-[#3F3F3F]">
      <div class="flex justify-between">
        <p
          class="my-5 bg-[#E3F2FD] p-3 rounded-xl text-[#626EDA] text-center font-bold"
        >
          Mandatory safety and information standards
        </p>
        <p class="text-[#626EDA] underline decoration-dotted pt-12">
          <a href="{% url 'law_4' %}"> More details: Mandatory standards </a>
        </p>
      </div>
      <p>
        Under the ACL, only the Commonwealth Minister has the power to make or
        declare a mandatory safety standard or information standard for a
        consumer product or product-related service. These standards apply
        nationally.
      </p>
      <div class="flex justify-between">
        <p
          class="my-5 bg-[#E3F2FD] p-3 rounded-xl text-[#626EDA] text-center font-bold"
        >
          Interim and permanent bans
        </p>
        <p class="text-[#626EDA] underline decoration-dotted pt-12">
          <a href="{% url 'lawpart2' %}"> More details: product bans </a>
        </p>
      </div>
      <p>
        The Commonwealth Minister and the relevant state or territory ministers
        have the power to impose an interim ban. Interim bans last for 60 days,
        and can be extended by a further 30 days on two separate occasions.
        Interim bans only apply in the state or territory in which they are
        imposed. Interim bans imposed by the Commonwealth Minister apply
        nationally.
      </p>
      <p class="pt-5">
        The Commonwealth Minister has the power to impose a permanent ban on a
        consumer good or product-related service. Permanent bans apply
        nationally.
      </p>
      <p
        class="my-5 bg-[#E3F2FD] p-3 rounded-xl text-[#626EDA] text-center font-bold w-56"
      >
        Company recall notices
      </p>
      <p>
        The Commonwealth Minister and the relevant state or territory ministers
        can issue a compulsory recall notice for consumer goods. This can
        require the supplier (or if the supplier cannot be found, the state or
        territory regulator) to take certain action.
      </p>
      <p
        class="my-5 bg-[#E3F2FD] p-3 rounded-xl text-[#626EDA] text-center font-bold w-56"
      >
        Public warning powers
      </p>
      <p>
        Under the ACL, there are two ways to warn the public about certain
        matters:
      </p>
      <ol class="ml-10 list-disc space-y-3 pt-5">
        <li>
          the Commonwealth Minister or the relevant state or territory ministers
          can issue a safety warning notice:

          <ol class="ml-10 list-disc">
            <li>
              stating that certain consumer goods or product related services
              are under investigation and/or
            </li>
            <li>
              advising of the risks involved in the use of the consumer goods or
              the supply of the product related services.
            </li>
          </ol>
        </li>

        <li>
          the state and territory consumer protection agencies can issue public
          warning notices:

          <ol class="ml-10 list-disc">
            <li>
              when they suspect a contravention of the consumer protection
              provisions
            </li>
            <li>where it is in the public interest.</li>
            <li>
              where someone is likely to suffer detriment from the conduct
            </li>
          </ol>
        </li>
      </ol>

      <p
        class="my-5 bg-[#E3F2FD] p-3 rounded-xl text-[#626EDA] text-center font-bold w-80"
      >
        Redress for non-party comsumers
      </p>
      <p>
        The ERECALL has the ability to represent multiple consumers and seek
        orders for redress for those consumers not party to the legal action.
        This empowers the ERECALL to deal more efficiently with matters that
        affect multiple consumers.
      </p>

      <div class="flex justify-between">
        <p
          class="my-5 bg-[#E3F2FD] p-3 rounded-xl text-[#626EDA] text-center font-bold"
        >
          Mandatory reporting
        </p>
        <p class="text-[#626EDA] underline decoration-dotted pt-12">
          <a href="{% url 'contact' %}"> More details: Mandatory reporting </a>
        </p>
      </div>

      <p>
        Suppliers are required by law to advise the ERECALL when they become
        aware that the use or foreseeable misuse of a consumer good or
        product-related service they have supplied has caused or is associated
        with the death or serious injury or illness to any person. They are also
        required to report if another person (e.g. a customer) considers that
        the death, injury or illness was, or associated with, the use or
        foreseeable misuse of the consumer good or product-related service.
      </p>
    </div>
  </div>
</div>
{% endblock %}
