{% extends "login/base.html" %} {% load static %} {% block title %}
<title>Product liability</title>
{% endblock %} {% block content %}
<div class="bg-white rounded-md">
  <div class="flex flex-col p-10 w-3/4 mx-auto text-[#3F3F3F] space-y-3">
    <h2
      class="p-5 text-center text-3xl leading-9 font-extrabold text-[#4B0082]"
    >
      Product liability
    </h2>
    <p>
      Australia’s product liability laws are a mixture of common law and Federal
      and state legislation.
    </p>
    <p
      class="my-5 bg-gray-200 p-2 rounded-full text-[#512DA8] text-center font-bold w-1/2"
    >
      Manufacturer liability for goods with safety defects
    </p>
    <p>
      The liability provisions of the Australian Consumer Law (ACL) generally
      apply to a manufacturer that supplies consumer goods in trade or commerce.
      A manufacturer may be a company that:
    </p>

    <ol class="ml-10 list-disc pb-5">
      <li>makes or assembles the goods</li>
      <li>
        imports the goods (if the maker of the goods does not have an office in
        Australia)
      </li>
      <li>uses its own brand name in relation to the goods</li>
      <li>promotes itself to the public as the manufacturer of the goods</li>
      <li>
        permits another person to promote the goods as having been manufactured
        by the company.
      </li>
    </ol>

    <p
      class="my-5 bg-gray-200 p-2 rounded-full text-[#512DA8] text-center font-bold w-48"
    >
      Safety defects
    </p>
    <p>
      A product has a safety defect if it does not meet the level of safety the
      public is generally entitled to expect. While the expected level of safety
      will vary from case to case, it is ultimately for a court to determine
      whether a product has a safety defect.
    </p>
    <p>
      The court will take various factors into account when determining whether
      a product has a safety defect, including:
    </p>

    <ol class="ml-10 list-disc pb-5">
      <li>how and for what purposes the product has been marketed</li>
      <li>product packaging</li>
      <li>the use of any mark in relation to the product</li>
      <li>instructions and warnings for assembly and use</li>
      <li>what might reasonably be expected to be done with the product</li>
      <li>the time when the product was supplied.</li>
    </ol>

    <div class="mx-10 text-[#3F3F3F]">
      <p
        class="my-5 bg-blue-200 p-2 rounded-full text-[#626EDA] text-center font-bold w-80"
      >
        Safety defects and older products
      </p>
      <p>
        Expected levels of safety differ for older products because they cannot
        be expected to be as safe as brand-new products. Similarly, older models
        of products would not necessarily be considered defective simply because
        more recent models have improved safety features.
      </p>
    </div>

    <p
      class="my-5 bg-gray-200 p-2 rounded-full text-[#512DA8] text-center font-bold w-96"
    >
      Statutory defences to manufacturer liability
    </p>
    <p>
      A number of statutory defences are provided to a manufacturer against a
      product liability action.
    </p>
    <p>These defences are available when:</p>

    <ol class="ml-10 list-disc pb-5">
      <li>
        the safety defect did not exist at the time of supply by the
        manufacturer
      </li>
      <li>
        the product was a component of a finished product and the safety defect
        is only attributable to:

        <ol class="ml-10 list-disc pb-5">
          <li>the design of the finished goods or the packaging</li>
          <li>
            instructions or warnings included in those finished goods—then, the
            manufacturer of the finished goods is liable and not the component
            maker
          </li>
        </ol>
      </li>
      <li>
        the safety defect could not have been discovered at the time the
        manufacturer supplied the goods because there was insufficient
        scientific or technical knowledge at that time
      </li>
      <li>
        the safety defect only existed because a mandatory standard was complied
        with. In this case, the Commonwealth may have to pay any compensation.
      </li>
    </ol>

    <p
      class="my-5 bg-gray-200 p-2 rounded-full text-[#512DA8] text-center font-bold w-72"
    >
      Reducing the risk of action
    </p>
    <p>
      Minimising the risk of action under the product liability provisions
      generally requires no more of manufacturers, importers and retailers than
      responsible business practice.
    </p>
    <p>
      A culture of safety is an important attribute of any responsible
      organisation and should include being aware of what happens when their
      product is in the hands of the consumer.
    </p>
    <p>
      A manufacturer's quality assurance system, design, production, record
      keeping and marketing procedures as well as customer information material
      can promote the safety of its products with consumers.
    </p>

    <p
      class="my-5 bg-gray-200 p-2 rounded-full text-[#512DA8] text-center font-bold w-72"
    >
      Consumer compensation claims
    </p>
    <p>
      Under the ACL, a consumer can seek compensation from a manufacturer who
      has supplied a product with safety defects if that product has caused loss
      or damage.
    </p>
    <p>Loss and damage can include:</p>

    <ol class="ml-10 list-disc pb-5">
      <li>
        injuries to the person making the claim, or injuries or death to another
        individual
      </li>
      <li>
        economic loss caused by damage to, or destruction of another good, land,
        a building or a fixture.
      </li>
    </ol>
    <p>
      Consumers who suffer loss or damage because of safety defects in a
      manufacturer's goods can:
    </p>
    <ol class="ml-10 list-disc pb-5">
      <li>take the manufacturer to court</li>
      <li>
        make a complaint to a consumer protection agency, who may:
        <ol class="ml-10 list-disc pb-5">
          <li>seek to conciliate the issue</li>
          <li>
            consider if there is significant public value in bringing a
            representative action against the manufacturer in court.
          </li>
        </ol>
      </li>
    </ol>
    <p>
      Dependents of a person injured or killed by a safety defect in goods can
      also claim for the losses they suffer as a result.
    </p>
    <p>
      If a consumer succeeds in an action against a manufacturer , the court
      will decide how much compensation is due. Where the actions or omissions
      of an injured person contribute to the loss, the court can reduce the
      amount of compensation payable.
    </p>
    <p>
      In addition to the product liability provisions in the ACL, people who
      have been injured, or who have otherwise sustained loss or damage, may
      have common law rights of action.
    </p>

    <div class="mx-10">
      <p
        class="my-5 bg-blue-200 p-2 rounded-full text-[#626EDA] text-center font-bold w-48"
      >
        Claims not covered
      </p>
      <p>The ACL does not cover claims relating to:</p>

      <ol class="ml-10 list-disc pb-5">
        <li>damage to commercial property</li>
        <li>
          loss arising from a business relationship, such as loss of profit
        </li>
        <li>losses for claims made for workers' compensation; and</li>
        <li>losses regulated by international agreements.</li>
      </ol>

      <p
        class="my-5 bg-blue-200 p-2 rounded-full text-[#626EDA] text-center font-bold w-96"
      >
        Time limits on product liability action
      </p>
      <p class="my-5">
        Consumers have three years to bring an action from the time they become
        aware (or ought reasonably to have become aware) of the loss, the defect
        and the identity of the manufacturer.
      </p>
      <p>
        Any action must also commence within 10 years of the time the
        manufacturer supplied the goods with safety defects.
      </p>
    </div>
  </div>
</div>
{% endblock %}
