{% extends "login/base.html" %} {% load static %} {% block title %}
<title>Fines & Penalties</title>
{% endblock %} {% block content %}
<div class="bg-white rounded-md">
  <div class="flex flex-col p-10 w-3/4 mx-auto text-[#3F3F3F] space-y-3">
    <h2
      class="p-5 text-center text-3xl leading-9 font-extrabold text-[#4B0082]"
    >
      Fines & penalties
    </h2>
    <p>
      Suppliers who fail to comply with product bans, standards or mandatory
      reporting requirements under the Australian Consumer Law may face
      enforcement action that attracts fines and pecuniary penalties. From 1
      July 2020 the value of the penalty unit for Commonwealth criminal offences
      increased from $210 to $222.
    </p>
    <p
      class="my-5 bg-gray-200 p-2 rounded-full text-[#512DA8] text-center font-bold w-36"
    >
      Definitions
    </p>

    <p>
      Suppliers: may include manufacturers, importers, distributors and
      retailers. There will often be more than one supplier responsible for
      compliance and ensuring products are safe and fit for purpose, regardless
      of where they may be in the supply chain, or whether they are domestic or
      overseas suppliers.
    </p>
    <p>
      Fines: are monetary fines (criminal penalty) imposed by courts in criminal
      proceedings. Criminal standard of proof is required.
    </p>
    <p>
      Pecuniary penalties: are monetary fines imposed and collected by civil
      courts. The civil standard of proof is applied (namely the balance of
      probabilities).
    </p>
    <p>
      A number of factors are taken into account by the Court in determining the
      appropriate fine or level of penalty. The calculation of the monetary
      amount of a penalty is dependent on ‘penalty units’ that are set out in
      the Crimes Act 1914. The value of a penalty unit is currently $222.
    </p>

    <p
      class="my-5 bg-gray-200 p-2 rounded-full text-[#512DA8] text-center font-bold w-96"
    >
      Breaches attracting fines and penalties
    </p>
    <div class="mx-10 text-[#3F3F3F]">
      <p
        class="my-5 bg-blue-200 p-2 rounded-full text-[#626EDA] text-center font-bold w-24"
      >
        Bans
      </p>
      <p>
        A person who refuses or fails to comply with a recall notice may be
        found guilty of a criminal offence. The maximum fine is:
      </p>
      <ol class="ml-10 list-disc pb-5">
        <li>$500 000 for individuals</li>
      </ol>
      <p>For a body corporate, the greater of:</p>
      <ol class="ml-10 list-disc pb-5">
        <li>$10 000 000</li>
        <li>three times the value of the benefit received, or</li>
        <li>
          10% of annual turnover in the preceding 12 months, if a court cannot
          determine the benefit obtained from the offence.
        </li>
      </ol>
      <p class="mt-5">Civil penalties of the same amounts also apply.</p>
      <p class="mt-5">This is an offence of strict liability.</p>

      <p
        class="my-5 bg-blue-200 p-2 rounded-full text-[#626EDA] text-center font-bold w-32"
      >
        Standards
      </p>

      <p>
        A supplier may be found guilty of a criminal offence if they fail to
        comply with a mandatory safety or information standard. The maximum fine
        is:
      </p>
      <ol class="ml-10 list-disc pb-5">
        <li>$500 000 for individuals</li>
      </ol>
      <p>For a body corporate, the greater of:</p>
      <ol class="ml-10 list-disc pb-5">
        <li>$10 000 000</li>
        <li>three times the value of the benefit received, or</li>
        <li>
          10% of annual turnover in the preceding 12 months, if a court cannot
          determine the benefit obtained from the offence.
        </li>
      </ol>
      <p class="mt-5">Civil penalties of the same amounts also apply.</p>
      <p class="mt-5">
        Where a safety standard specifies two or more sets of requirements for
        complying with the standard, the supplier must, if requested by a
        regulator, provide a notice specifying which of those sets of
        requirements it intends to comply with. The maximum fine for failing to
        do so is:
      </p>
      <ol class="ml-10 list-disc pb-5">
        <li>$4400 for individuals</li>
        <li>$22 000 for a body corporate.</li>
      </ol>
      <p>This is an offence of strict liability.</p>

      <p
        class="my-5 bg-blue-200 p-2 rounded-full text-[#626EDA] text-center font-bold w-32"
      >
        Recalls
      </p>
      <p>
        A person who refuses or fails to comply with a recall notice may be
        found guilty of a criminal offence. The maximum fine is:
      </p>
      <ol class="ml-10 list-disc pb-5">
        <li>$500 000 for individuals</li>
      </ol>
      <p>For a body corporate, the greater of:</p>
      <ol class="ml-10 list-disc pb-5">
        <li>$10 000 000</li>
        <li>three times the value of the benefit received, or</li>
        <li>
          10% of annual turnover in the preceding 12 months, if a court cannot
          determine the benefit obtained from the offence.
        </li>
      </ol>
      <p class="mt-5">Civil penalties of the same amounts also apply.</p>
      <p>This is an offence of strict liability.</p>

      <p
        class="my-5 bg-[#E3F2FD] p-2 rounded-full text-[#626EDA] text-center font-bold w-64"
      >
        Mandatory reporting
      </p>
      <p>
        Suppliers must notify the Commonwealth minister within 2 days of
        becoming aware that a person suffered serious injury, illness or death
        associated with a consumer good or product-related service they have
        supplied in Australia, or overseas.
      </p>
      <p class="mt-5">
        A supplier who fails to notify the Commonwealth minister within 2 days
        of becoming aware of the incident may be found guilty of a criminal
        offence. The maximum fine is:
      </p>
      <ol class="ml-10 list-disc pb-5">
        <li>$3330 for individuals</li>
        <li>$16 650 for a body corporate.</li>
      </ol>
      <p>
        This is an offence of strict liability, which means that a court does
        not have to find that a person intended not to notify the minister in
        order to find them guilty.
      </p>
    </div>

    <p
      class="my-5 bg-gray-200 p-2 rounded-full text-[#512DA8] text-center font-bold w-1/2"
    >
      Resolving breaches of product safety regulations
    </p>
    <p>
      When a product safety regulator finds that a supplier is supplying
      consumer goods or product related services that breach a mandatory
      standard or are banned, the regulator's priority is to ensure that the
      hazardous goods or product related services are removed from the
      marketplace. A state or territory regulator will inform the suppliers
      involved.
    </p>
    <p>
      After receiving the information, the state or territory regulator is
      likely to require that suppliers take action to recall the goods,
      including:
    </p>

    <ol class="ml-10 list-disc pb-5">
      <li>
        immediately stopping the supply of the consumer goods or product related
        services
      </li>
      <li>remove the goods from retail outlets</li>
      <li>
        retrieve the consumer goods from throughout the supply chain and from
        consumers.
      </li>
    </ol>
    <p>
      An assessment will then be made of what compliance and enforcement action
      may be appropriate in the circumstances. How Australian regulators respond
      and what sort of action they take depends on a range of factors including:
    </p>

    <ol class="ml-10 list-disc pb-5">
      <li>
        the seriousness of the safety hazard – how much damage it has caused or
        is likely to cause
      </li>
      <li>the volume of goods supplied</li>
      <li>the blatancy of the breach</li>
      <li>the supplier’s past conduct</li>
      <li>the extent to which the supplier cooperates.</li>
    </ol>
  </div>
</div>
{% endblock %}
