{% extends "login/base.html" %} {% load static %} {% block title %}
<title>Product liability</title>
{% endblock %} {% block content %}
<div class="bg-[#82B1FF] rounded-md">
  <div class="flex flex-col p-10 w-3/4 mx-auto text-[#E3F2FD]">
    <div class="border-solid border-b-4 border-[#0000D6] w-64 p-2 mb-7">
      <div class="flex flex-row mt-10 my-auto">
        <h2 class="pt-16 text-3xl leading-9 font-extrabold text-[#0000D6]">
          Mandatory
        </h2>
        <img
          src="{% static 'login/law/head.jpg' %}"
          class="w-24 h-28"
        />
      </div>
      <h2 class="ml-16 text-3xl font-extrabold text-[#0000D6]">standards</h2>
    </div>
    <p>
      The purpose of a mandatory standard is to make particular safety or
      information features on products compulsory for legal supply of the
      product into the Australian market. It is an offence to supply goods that
      do not comply with mandatory standards.
    </p>

    <div class="flex flex-row my-5 space-x-3">
      <img
        src="{% static 'login/law/Aquatic toys.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#A6E7F0] w-1/2 p-2"
      >
        <p class="text-xl">An aquatic toy :</p>
        <p>
          must comply with the relevant sections of one of the following
          standards:
        </p>
        <p class="mt-3">
          Australian/New Zealand Standard AS/NZS ISO 8124.1:2019 Safety of toys
          Part 1: Safety aspects related to mechanical and physical properties
          International Standard ISO 8124-1:2018 Safety of toys - Part 1: Safety
          aspects related to mechanical and physical properties.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-20">
      <img
        src="{% static 'login/law/baby-bath.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#9EC8FC] w-1/2 p-2"
      >
        <p class="text-xl">Baby Bath Aids:</p>
        <p>
          The Consumer Goods (Baby Bath Aids) Safety Standard 2017 sets out
          mandatory requirements for baby bath aids.
        </p>
        <p class="mt-3">
          The mandatory standard is based on certain sections of the voluntary
          American Society for Testing and Materials Standard ASTM F1967‑13
          Standard Consumer Safety Specification for Infant Bath Seats.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-40">
      <img
        src="{% static 'login/law/Baby walkers.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#A6E7F0] w-1/2 p-2"
      >
        <p class="text-xl">Baby Bath Aids:</p>
        <p>
          The Consumer Goods (Baby Bath Aids) Safety Standard 2017 sets out
          mandatory requirements for baby bath aids.
        </p>
        <p class="mt-3">
          The mandatory standard is based on certain sections of the voluntary
          American Society for Testing and Materials Standard ASTM F1967‑13
          Standard Consumer Safety Specification for Infant Bath Seats.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-60">
      <img
        src="{% static 'login/law/Baby dummies.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#CBE3FA] w-[600px] p-2"
      >
        <p class="text-xl">Baby dummies</p>
        <p>
          The Consumer Goods (Babies’ Dummies and Dummy Chains) Safety Standard
          2017 sets out the mandatory requirements for babies’ dummies and dummy
          chains.
        </p>
        <p class="mt-3">
          The mandatory standard requirements for babies’ dummies are based on
          certain sections of the voluntary Australian Standard AS 2432:2015
          Standard for Babies’ Dummies and the voluntary European Standard EN
          1400:2013+A1:2014 - Child use and care article – Soothers for babies
          and young children – Safety requirements and test method.
        </p>
        <p class="mt-3">
          The mandatory standard requirements for dummy chains are based on
          certain sections of the voluntary European Standard EN
          12586:2007+A1:2011 - Child use and care article – Soother holder –
          Safety requirements and test method.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-80">
      <img
        src="{% static 'login/law/Baby walkers.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#CBE3FA] w-[530px] p-2"
      >
        <p class="text-xl">Baby walkers:</p>
        <p>
          Consumer Protection Notice No.1 of 2013 sets out the mandatory
          requirements for baby walkers.
        </p>
        <p class="mt-3">
          This mandatory standard is based on certain sections of the American
          standard ASTM F977-12 ‘Standard Consumer Safety Specification for
          Infant Walkers’
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-[400px]">
      <img
        src="{% static 'login/law/Balloon blowing kits.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#05A2F9] w-[520px] p-2"
      >
        <p class="text-xl">Balloon blowing kits:</p>
        <p>
          The Trade Practices (Consumer Product Safety Standards) Regulations
          1979 sets out the mandatory requirements for balloon blowing kits.
        </p>
        <p class="mt-3">
          The Trade Practices (Consumer Product Safety Standards) Regulations
          1979 sets out the mandatory requirements for balloon blowing kits.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-[450px]">
      <img
        src="{% static 'login/law/Basketball rings.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#1BA1ED] w-[470px] p-2"
      >
        <p class="text-xl">Basketball rings & backboards:</p>
        <p>
          The Consumer Goods (Basketball Rings and Backboards) Safety Standard
          2017 sets out the mandatory requirements for basketball rings and
          backboards.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-[400px]">
      <img
        src="{% static 'login/law/Bean bags.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#35C4EE] w-[520px] p-2"
      >
        <p class="text-xl">Bean bags:</p>
        <p>
          The Consumer Goods (Bean Bags) Safety Standard 2014 sets out the
          mandatory requirements for bean bags.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-80">
      <img
        src="{% static 'login/law/Bicycle helmets.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#27c6ed] w-[500px] p-2"
      >
        <p class="text-xl">Bicycle helmets:</p>
        <p>
          The Trade Practices (Consumer Product Safety Standards) Regulations
          2001—Bicycle Helmets sets out the mandatory requirements for bicycle
          helmets.
        </p>
        <p class="mt-3">
          This mandatory standard is based on certain sections of the voluntary
          Australian and New Zealand Standard, AS/NZS 2063:2008—Bicycle helmets.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-60">
      <img
        src="{% static 'login/law/Bicycles.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#A6E7F0] w-1/2 p-2"
      >
        <p class="text-xl">Bicycles:</p>
        <p>
          This mandatory standard is based on the Australian and New Zealand
          Standard AS/NZS 1927:1998.
        </p>
        <p class="mt-3">
          Australian and New Zealand Standard AS/NZS 1927:1998 is a voluntary
          standard except for those sections specifically called up by the
          mandatory standard. You must consult the mandatory standard for these
          details.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-40">
      <img
        src="{% static 'login/law/Blinds, curtains and window fittings.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#A6E7F0] w-1/2 p-2"
      >
        <p class="text-xl">Blinds, curtains and window fittings:</p>
        <p>
          The Trade Practices (Consumer Product Safety Standard - Corded
          Internal Window Coverings) Regulations 2010 sets out the mandatory
          requirements for corded internal window coverings.
        </p>
        <p class="mt-3">
          The mandatory standard applies to all corded internal window coverings
          supplied from 30 December 2010.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-20">
      <img
        src="{% static 'login/law/Bunk beds.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#b1d7fb] w-1/2 p-2"
      >
        <p class="text-xl">Bunk beds:</p>
        <p>
          Consumer Protection Notice No. 1 of 2003 sets out the mandatory
          requirements for bunk beds.
        </p>
        <p class="mt-3">
          The mandatory standard is based on certain sections of the voluntary
          Australian New Zealand standard AS/NZS 4220:1994 Bunk beds.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-40">
      <img
        src="{% static 'login/law/Care labelling.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#376383] w-1/2 p-2"
      >
        <p class="text-xl">Care labelling for clothing & textiles:</p>
        <p>
          Consumer Protection Notice No. 25 of 2010 sets out the mandatory
          requirements for the labelling of a variety of prescribed products.
        </p>
        <p class="mt-3">
          This mandatory standard is based on certain sections of the voluntary
          Australian/New Zealand Standard AS/NZS 1957:1998 Textiles - Care
          labelling.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-60">
      <img
        src="{% static 'login/law/Cosmetics ingredients labelling.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#358ad8] w-1/2 p-2"
      >
        <p class="text-xl">Cosmetics ingredients labelling:</p>
        <p>
          The Consumer Goods (Cosmetics) Information Standard 2020 sets out the
          mandatory requirements for cosmetics ingredients labelling. These
          requirements are intended to:
        </p>
        <p class="mt-3">
          reduce the risk of consumers unintentionally exposing themselves to
          ingredients causing allergic reactions help consumers choose effective
          hand sanitisers reduce the risk of product harm, including ingestion
          by children.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-80">
      <img
        src="{% static 'login/law/Portable aerosol fire extinguishers.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#b5dbfc] w-[500px] p-2"
      >
        <p class="text-xl">Portable aerosol fire extinguishers:</p>
        <p>
          The mandatory safety standard for portable aerosol fire extinguishers
          is Consumer Protection Notice No. 9 of 2004. It was last reviewed in
          2021 with the review concluding that the safety standard would
          continue to operate without amendment. It sets out the mandatory
          requirements for portable aerosol fire extinguishers.
        </p>
        <p class="mt-3">
          The mandatory standard is based on certain sections of the voluntary
          Australian New Zealand AS/NZS 4353:1995.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-[400px]">
      <img
        src="{% static 'login/law/Reduced Fire Risk Cigarettes.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#b5dcfc] w-[500px] p-2"
      >
        <p class="text-xl">Reduced Fire Risk Cigarettes:</p>
        <p>
          Trade Practices (Consumer Product Safety Standard) (Reduced Fire Risk
          Cigarettes) Regulations 2008 No.195 sets out the mandatory
          requirements for reduced fire risk cigarettes. It references the test
          methodology from the voluntary Australian Standard AS 4830-2007,
          Determination of the extinction propensity of cigarettes.
        </p>
      </div>
    </div>

    <div class="flex flex-row my-5 space-x-3 ml-[450px]">
      <img
        src="{% static 'login/law/Sunglasses & fashion spectacles.png' %}"
        class="w-32 h-32 my-auto"
      />
      <div
        class="flex flex-col shadowed-md rounded-xl border-solid border-4 border-[#169cfb] w-[490px] p-2"
      >
        <p class="text-xl">Sunglasses & fashion spectacles:</p>
        <p>
          The Consumer Goods (Sunglasses and Fashion Spectacles) Safety Standard
          2017 sets out the mandatory requirements for sunglasses and fashion
          spectacles.
        </p>
        <p class="mt-3">
          The mandatory standard is based on certain sections of the voluntary
          Australian/New Zealand Standard AS/NZS 1067.1:2016 Eye and face
          protection - sunglasses and fashion spectacles.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
