{% extends "login/base.html" %}
{% load static %}

{% block title %}
<title>research</title>
{% endblock %}

{% block content %}
<div class="rounded-md">
  <div class="flex flex-col p-10 mx-auto">
    <h1 class="p-10 text-5xl leading-9 font-extrabold text-left text-[#483D8B]">Research and reports overview</h1>
    </br>
    <body> <img src="{% static 'login/guidance/bar.jpg' %}" class="h-15"></body>

    <h2 class="ml-20 mr-20 text-3xl  font-extrabold text-left text-[#000000]"></h2>
    </br>
    <h3 class="ml-20 mr-20 text-2xl font-extrabold text-left text-[#000000]">
      Recalled product market situation </h3>
    <h3 class="ml-20 mr-20 text-2xl text-left text-[#000000]">
    - Over a million recalled products still in circulation in Australia</br>
    Australians could be at risk of injuries or even death from 6.6 million individual products currently under voluntary recall, new figures show.
    Each year the ACCC is notified of about 650 consumer product recalls, but only about half of affected products are returned to sellers. Excluding motor vehicle recalls, this amounts to about 1.7 million recalled products remaining in people’s homes, or almost one in four Australian households exposed to potential hazards.</h3>
    </br>

    </h3></br>
    <p class="ml-20 mr-20 border border-primary text-4xl ml-20 mt-7 w-2/5 font-extrabold text-[#000000]">
    <h4 class="bg-[#EDE7F6] rounded-[60px] text-[#7E57C2] ml-20 mr-20 text-3xl font-extrabold text-left text-[#483D8B]">On this page</h4></br>
    </br>
      <a href="#Stat">
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]" href="#Stat">- Statistics</h4></a></br>
      <a href="#Agency">
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]" href="#Agency">- Agency Report</h4></a></br>
       <a href="#Recomm">
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]" href="#Recomm">- Solution recommendation</h4></a></br>
    <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]" id="Stat">
    </br>Statistics</h5>
    </br>
     <div style="text-align: center;right:5">
         <h5 class="text-centre">
      <img src="{% static 'login/guidance/picture1.jpg' %}" > </h5></div>
    </p>
    <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]" id="Agency">
    </br>Professional Agency reports
    </br>
    </h5>
    </br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://digitalcommons.usf.edu/cgi/viewcontent.cgi?article=10162&context=etd">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>The Effects of Product Recalls on Competitors’ Market Value and Recalling Firm’s Reputation</button></a></br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://hbr.org/1996/09/a-strategic-approach-to-managing-product-recalls">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>A Strategic Approach to Managing Product Recalls</button></a></br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://www.cpsc.gov/s3fs-public/RecallEffectiveness.pdf">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>Recall Effectiveness research</button></a></br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://safetyculture.com/topics/product-recall/">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>A Guide on Product Recall: Examples & Prevention</button></a></br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://www.sciencedirect.com/science/article/pii/S1877042812045764 ">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>Managing Product Recalls</button></a></br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6951857/">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>Detecting reports of unsafe foods in consumer product reviews</button></a></br>
   </br>
    <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl">
      <p class="m-5">
      Instruction: Agency reporting can also explain to our clients what we're doing to help their business and how we're going to achieve your goals. This is crucial because clients who understand all the work you do for them will appreciate your agency a lot more and therefore keep doing business with you.
      </h6></br>
      </p>
    </br>
       <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]" id="Recomm">
    </br>Recommended solutions
    </h5> </br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://www.sedgwick.com/">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>Solution 1: Sedgwick - The Product Recall Specialists & Protecting Customers & Brands</button></a></br>
    </p>


    </br>
    <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl">
      <p class="m-5">
      The world’s #1 provider of end-to-end recall solutions, from event planning to close-out。When your brand and reputation are on the line, you need a proven product recall partner。Services: Product recall consulting, Mock recall solutions, Customer notifications.
      <p class="m-5">
        - Effective Recall Planning
      </p>
      <p class="m-5">
        - Product Recall Support</p>
       <p class="m-5">
        -  Facing a Live Recall? </p>
      <p class="m-5">
        -  Recall Call Center 24/7 </p>
      </h6></br>
      </p>
    </br>

      <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://coghlan.com.au/product-recall/">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>Solution 2: Coghlan</button></a></br>
    </p>
    <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl">
      <p class="m-5">
      Product recall solutions aim to:
      <p class="m-5">
        - Quickly personalise and form the perfect project management tool
      </p>
      <p class="m-5">
        - Engage call centre resources to handle enquiries</p>
       <p class="m-5">
        - Structure the orderly and controlled collection of affected products </p>
      <p class="m-5">
        - Receive, check, and store the returned goods </p>
      </h6></br>
      </p>
    </br>

  </div>
</div>
<script>
    function a()

    {

    document.getElementById("b1").style.color="#6495ED";}

    </script>
{% endblock %}
