{% extends "login/base.html" %}
{% load static %}

{% block title %}
<title>research</title>
{% endblock %}

{% block content %}
<div class="rounded-md">
  <div class="flex flex-col p-10 mx-auto">
    <h1 class="p-10 text-5xl leading-9 font-extrabold text-left text-[#483D8B]">Research and reports overview</h1>
    </br>
    <body> <img src="{% static 'login/guidance/bar.jpg' %}" class="h-15"></body>

    <h2 class="ml-20 mr-20 text-3xl  font-extrabold text-left text-[#000000]"></h2>
    </br>
    <h3 class="ml-20 mr-20 text-2xl font-extrabold text-left text-[#000000]">
     Instruction: </h3>
    <h3 class="ml-20 mr-20 text-2xl text-left text-[#000000]">
    Agency reporting can also explain to our clients what we're doing to help their business and how we're going to achieve your goals. This is crucial because clients who understand all the work you do for them will appreciate your agency a lot more and therefore keep doing business with you.</h3>
    </br>


    </h3></br>
    <p class="ml-20 mr-20 border border-primary text-4xl ml-20 mt-7 w-2/5 font-extrabold text-[#000000]">
    <h4 class="bg-[#EDE7F6] rounded-[60px] text-[#7E57C2] ml-20 mr-20 text-3xl font-extrabold text-left text-[#483D8B]">On this page</h4></br>
    </br>
      <a >
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]">- Professional Agency reports quick link</h4></a></br>
      <a >
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]">- Food recall report from FOOD STANDARDS in Australia</h4></a></br>
       <a>
    <h4 class="ml-20 mr-20 text-2xl text-left text-[#000000]">- Post recall report</h4></a></br>
    </br>


    <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]" id="Agency">
    </br>Professional Agency reports quick link
    </br>
    </h5>
    </br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://digitalcommons.usf.edu/cgi/viewcontent.cgi?article=10162&context=etd">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>The Effects of Product Recalls on Competitors’ Market Value and Recalling Firm’s Reputation</button></a></br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://hbr.org/1996/09/a-strategic-approach-to-managing-product-recalls">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>A Strategic Approach to Managing Product Recalls</button></a></br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://www.cpsc.gov/s3fs-public/RecallEffectiveness.pdf">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>Recall Effectiveness research</button></a></br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://safetyculture.com/topics/product-recall/">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>A Guide on Product Recall: Examples & Prevention</button></a></br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://www.sciencedirect.com/science/article/pii/S1877042812045764 ">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>Managing Product Recalls</button></a></br>
    <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6951857/">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>Detecting reports of unsafe foods in consumer product reviews</button></a></br>
   </br>

    <h5 class="ml-20 text-4xl font-extrabold italic text-left text-[#000000]" id="Stat">
      <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl" id="Food">
      <p class="m-5 font-extrabold">
      Food recall report from FOOD STANDARDS in Australia
      <p class="m-5">
      After you have identified the need to recall food by contacting your food recall action officer you will need to notify FSANZ. The FSANZ Recall Coordinator will ask you questions about the food you are recalling, reason for recalling and distribution of the food. The answers to these questions form the basis of an initial recall report.
      </p></br>
          <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://www.foodstandards.gov.au/industry/foodrecalls/recalltemplates/Documents/Food%20Recall%20Report.docx">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>Download the food recall report (word 164kb)</button></a></br>
      </br>
      </h6></br>
      </p>

         <h6 class="bg-[#E6E6FA] ml-20 mr-20 mx-auto square-[60px] text-[#000000] text-2xl" id="Food">
      <p class="m-5 font-extrabold">
      Post recall report
      <p class="m-5">
      FSANZ will ask for an interim and a final post-recall report after a recall has been conducted. An interim post recall report, containing information on how you are progressing with the recall, is due two weeks after the recall has been actioned (only Part A of the post recall report template needs to be completed).  A final post recall report, containing final stock recovery numbers and all final information, is due four weeks after the recall has been actioned (all questions need to be answered in post recall report template). FSANZ will advise the Australian Competition and Consumer Commission (ACCC) and the relevant state or territory health authority of the post recall information.
      </br>
      An example of the post recall report is below.
      </p></br>
          <a target="_blank|_self|_parent|_top|framename" class="ml-20 mr-20 text-2xl text-left" href="https://www.foodstandards.gov.au/industry/foodrecalls/recalltemplates/Documents/Request%20for%20post%20recall%20report%20%28blank%29.docx">
      <button onclick="a()"  style="color:#021AEE"  id="b1" >>>>Download the post recall report template (word 76kb)</button></a></br>
      </br>
      </h6></br>
  </div>
</div>
<script>
    function a()

    {

    document.getElementById("b1").style.color="#6495ED";}

    </script>
{% endblock %}